<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487871745636-55fo114k6m4banb4d65kb5l7o14dr90i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487871745636-55fo114k6m4banb4d65kb5l7o14dr90i</string>
	<key>API_KEY</key>
	<string>AIzaSyDXTv5aFywHwwIPg9WMU59rwaDJtEPKoT8</string>
	<key>GCM_SENDER_ID</key>
	<string>487871745636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UICollectionViewController</string>
	<key>PROJECT_ID</key>
	<string>todo-app-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487871745636:ios:7384dc6eab70f3f05c1971</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-swiftui.firebaseio.com</string>
</dict>
</plist>